@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/FondoB.webp");
    
}
header {
    width: 100%;
    height: 50px;
    background: #333;
    color:#fff;
    text-align: center;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#banner img{
    width: 100%;
    height: 100%;
}
.menu{

    list-style: none;
    padding: 0;
    background: #333;
    max-width: 2000px;
    margin: auto;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: gray;
}

.bio{
    color:rgb(0, 0, 0);
    margin: 60px;
    @media screen and (max-width:540px){
        margin: 0;
    }
}

h6{
    font-size: 40px;
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 1px 0 white, 2px 0 black;
    @media screen and (max-width:540px){
        font-size: 15px;
    }
}
h2{
    font-size: 18px;
    text-align: center;
    color:rgb(0, 0, 0);
}
h5{
    font-size: 30px;
    text-align: left;
    color:rgb(0, 0, 0);
    @media screen and (max-width:540px){
        font-size: 10px;
    }
}
p{
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 25px;
    @media screen and (max-width:540px){
        font-size: 6px;

    }

}
#img1{
    width: 18%;
    min-width: 200px;
    height:35%;
    border: 2px solid #333;
    float: right;
    margin: 10px;
}
.info{
    color:rgb(0, 0, 0);
    margin: 60px;
    @media screen and (max-width:540px){
        margin: 0;
    }
}


.img2{
    min-width: 200px;
    display: flex;
    justify-content: center;
    
}
.img3{
    min-width: 200px;
    max-width: 600px;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.img3 img{
    width: 100%;
}
.img4{
    min-width: 200px;
    max-width: 500px;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img4 img{
    width: 100%;
}
.img5{
    min-width: 200px;
    max-width: 600px;
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.img5 img{
    width: 100%;
}
.Referencias1{
    color:rgb(0, 0, 0);
    margin: 30px;
    @media screen and (max-width:540px){
        margin: 5px;
        font-size: 10px;
    }
}
.link{
    text-align: center;
    font-size: 25px;
}
.web{
    font-size: 20px;
    text-align: center;
    color:rgb(0, 0, 0);
}
.web h3{
    text-shadow: 1px 0 white, 2px 0 black;
}
.EjemS{
    color:rgb(0, 0, 0);
    margin: 60px;
    @media screen and (max-width:540px){
        margin: 0;
    }
}
.Ejem{
    color:rgb(0, 0, 0);
    margin: 60px;
    @media screen and (max-width:540px){
        margin: 0;
    }
}
.imgSCos{
    min-width: 200px;
    max-width: 800px;
    width: 75vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.imgSCos img{
    width: 100%;
}
.imgSSen{
    min-width: 200px;
    max-width: 400px;
    width: 75vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.imgSSen img{
    width: 100%;
}
.imgSSen2{
    min-width: 200px;
    max-width: 600px;
    width: 75vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.imgSSen2 img{
    width: 100%;
}
.imgSEx{
    min-width: 200px;
    max-width: 800px;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.imgSEx img{
    width: 100%;
}
.imgSEx2{
    min-width: 200px;
    max-width: 700px;
    width: 75vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.imgSEx2 img{
    width: 100%;
}
.Referencias2{
    color:rgb(0, 0, 0);
    margin: 30px;
    @media screen and (max-width:540px){
        margin: 5px;
        font-size: 10px;
    }
}
.EjemInt{
    color:rgb(0, 0, 0);
    margin: 30px;
}
.imgInt1{
    min-width: 300px;
    max-width: 600px;
    width: 75vw;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.imgInt1 img{
    width: 100%;
}
.imgInt2{
    min-width: 300px;
    max-width: 500px;
    width: 75vw;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.imgInt2 img{
    width: 100%;
}
.imgInt3{
    min-width: 300px;
    max-width: 650px;
    width: 75vw;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    
}
.imgInt3 img{
    width: 100%;
}

.Referencias3{
    color:rgb(0, 0, 0);
    margin: 30px;
    @media screen and (max-width:540px){
        margin: 5px;
        font-size: 10px;
    }
}
.Final{
    min-width: 200px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}
.Final img{
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 10);
}
.App{
    display: flex;
    justify-content: center;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.Graf{
    color:rgb(0, 0, 0);
    margin: 60px;
    @media screen and (max-width:540px){
        margin: 0;
        font-size: 10px;
    }
}
#prue{
    background: #333;
    color: #333;
    text-align: center;
}

#info .cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ejercicios h5{
    color:rgb(0, 0, 0);
    margin: 47px;
}